{% extends 'main/base.html' %}

{% block content %}

    <form method="get">
        <input type="text" name="name" placeholder="Buscar por nome">
        <input type="submit" value="Buscar">
    </form>

    <h1>List People</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for people in object_list %}
                <tr>
                    <td>{{ people.full_name }}</td>
                    <td>{{ people.birth_date|date:'SHORT_DATE_FORMAT' }}</td>
                    <td>
                        {% if people.active %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_people' people.pk %}">Update</a>
                        <a href="{% url 'delete_people' people.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}